// .rules__title {
//   font-size: 36px;
//   font-weight: 600;
//   text-align: center;
//   color: #ffffffcc;
//   text-transform: uppercase;
//   margin: 0 0 50px 0;
// }

.rules {
  padding: 100px 50px;
}

.rules__subtitle {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  margin: 20px 0;
}

.rules__text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

.rules__link {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #af7b20;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 500px) {
  .rules {
    padding: 100px 20px;
  }
}

@media (max-width: 600px) {
  .rules__title {
    font-size: 22px;
  }
}
