* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.app {
  background-color: black;
  overflow: hidden;
}
.app__container {
  max-width: 1920px;
  margin: auto;
  width: 100%;
}

* {
  font-family: 'Comfortaa', sans-serif;

  color: white;
}
